@font-face {
  font-family: 'Freesentation';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freesentation';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Freesentation';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */

  /* light theme color */
  --slidev-theme-light-background: white;
  --slidev-theme-light-text: #222448;
  --slidev-theme-light-accent: #0060CC;
  --slidev-theme-light-danger: #C2362B;
  --slidev-theme-light-divider: #8FA7CA70;

  /* dark theme color */
  --slidev-theme-dark-background: #000;
  --slidev-theme-dark-text: white;
  --slidev-theme-dark-accent: #40A0FC;
  --slidev-theme-dark-danger: #E96158;
  --slidev-theme-dark-divider: #c2c4c8;
}

#page-root {
  font-family: "Gothic A1", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html:not(.dark) {
  .slidev-layout {
    background-color: var(--slidev-theme-light-background);
    color: var(--slidev-theme-light-text);
  
    a:hover {
      color: var(--slidev-theme-light-accent);
    }
  
    hr {
      background-color: var(--slidev-theme-light-divider);
    }
  }


  strong.danger {
    color: var(--slidev-theme-light-danger);
  }

  strong.accent {
    color: var(--slidev-theme-light-accent);
  }
}

html.dark {
  .slidev-layout {
    background-color: var(--slidev-theme-dark-background);
    color: var(--slidev-theme-dark-text);
  
    a:hover {
      color: var(--slidev-theme-dark-accent);
    }
  
    hr {
      background-color: var(--slidev-theme-dark-divider);
    }
  }

  strong.danger {
    color: var(--slidev-theme-dark-danger);
  }
  
  strong.accent {
    font-weight: bold;
    color: var(--slidev-theme-dark-accent);
  }
}

.slidev-layout {
  font-family: 'Presentation';
  padding: 1.5rem 2.5rem;
  background-color: #fff;

  h1, h2, h3, h4 {
    font-family: 'Freesentation';
    font-style: normal;
    font-weight: 900;
  }

  hr {
    margin: 20px 0 20px 0;
    border: none;
    height: 0.5px;
  }

  ul {
    list-style-type: disc;

    li::marker {
      transform: translateY(-0.5em);
    }
  }
}

strong.danger {
  @apply fw-700;
}

strong.accent {
  @apply fw-700;
  font-weight: bold;
}
